<ion-item-group>
  <ion-item-divider color="light">
    Desglose por categoria
  </ion-item-divider>
  <ion-list>
    <ion-item *ngFor="let category of categoryChunks">
      <ion-avatar item-left>
        <img [src]="category.image">
      </ion-avatar>
      {{category.title}}
      <ion-badge [color]="category.color" item-right>{{ category.currentTotal | currency:'USD':true:'1.2-2' }} de {{ category.currentMax | currency:'USD':true:'1.2-2' }}</ion-badge>
    </ion-item>

  </ion-list>
</ion-item-group>
