calculator {
  .result{
      min-height: 40px;
      font-size: 4em;
      text-align: right;
      padding-left: 0.1em;
      padding-right: 0.1em;
  }
  ion-col{
      padding: 0.5px ;
      margin: 0px !important;
  }

  ion-col > div {
      min-height: 3em;
      text-align: center;
      border: 1px;
      border-color: white;
      margin: auto;
      font-weight: bold;
      vertical-align: middle;
      line-height: 3em;
  }

  .inner{
      margin: auto;
      background: map-get($colors, light);
  }

  .calcbutton{
      background: #3477e2;
      color: white;
  }
  .equalbutton{
      background: #f4a72c;
  }
}
