<ion-card *ngIf="groupedEntries.length == 0">
    <ion-card-header>{{entryOptions.noElementsText}}</ion-card-header>
</ion-card>
<div *ngIf="entryOptions.sliderOptions">
    <ion-item-group *ngFor="let group of groupedEntries">
        <ion-item-divider color="light" (click)="activate(group)">
            {{group.title  | titlecase}}
            <ion-icon [name]="group.toggleActive ? 'remove' : 'add'" item-left></ion-icon>
            <ion-badge [color]="entryOptions.badgeColor" item-right>{{group.totalValue | currency:'USD':true:'1.2-2' }}</ion-badge>
        </ion-item-divider>
        <ion-list *ngIf="group.toggleActive" >
            <ion-item-sliding *ngFor="let entry of group.entries">
                <ion-item (click)="elemetClicked(entry)">
                    <ion-avatar item-left>
                        <img [src]="entryOptions.getImage(entry)">
                    </ion-avatar>
                    <h2>{{entryOptions.elementTitle(entry)}}</h2>
                    <p class="account">{{getAccountName(entry)}}</p>
                    <p>{{entry?.notes}}</p>
                    <ion-badge [color]="getBadgeColor(entry)" item-right>{{entry.amount | currency:'USD':true:'1.2-2' }}</ion-badge>
                </ion-item>
                <ion-item-options side="right" >
                    <button ion-button *ngFor="let option of entryOptions.sliderOptions" [color]="option.color" (click)="callAndReload(entry, option.callbackMethod)">
                    <ion-icon [name]="option.icon"></ion-icon>
                    {{option.text}}
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-item-group>
</div>
<div *ngIf="!entryOptions.sliderOptions">
    <ion-item-group *ngFor="let group of groupedEntries">
        <ion-item-divider color="light" (click)="activate(group)">
            {{group.title  | titlecase}}
            <ion-icon [name]="group.toggleActive ? 'remove' : 'add'" item-left></ion-icon>
            <ion-badge [color]="entryOptions.badgeColor" item-right>{{group.totalValue | currency:'USD':true:'1.2-2' }}</ion-badge>
        </ion-item-divider>
        <ion-list *ngIf="group.toggleActive" >
            <ion-item *ngFor="let entry of group.entries" (click)="elemetClicked(entry)" >
                <ion-avatar item-left>
                    <img [src]="entryOptions.getImage(entry)">
                </ion-avatar>
                <h2>{{entryOptions.elementTitle(entry)}}</h2>
                <p class="account">{{getAccountName(entry)}}</p>
                <p>{{entry?.notes}}</p>
                <ion-badge [color]="getBadgeColor(entry)" item-right>{{entry.amount | currency:'USD':true:'1.2-2' }}</ion-badge>
            </ion-item>
        </ion-list>
    </ion-item-group>
</div>
